<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800;900&display=swap" rel="stylesheet">
    <title>DeatrisApp</title>
</head>
<header class="siteheader">
		<img src="/img/logo.png" class="logo">
		<button type="button" class="joinbetaheader">Beta’ya Katil</button>
</header>
<body>
    <div class="main">
        <div class="coinheader">
            <h1 class="subheader">DEATRIS’E HOSGELDIN</h1>
            <h1 class="header">EĞLENMEK İÇİN KAZANMAK YERİNE KAZANMAK İÇİN EĞLENMEYE HAZIR MISIN?</h1>
        </div>
        <div class="deatriscoin">
            <img src="/img/deatriscoin.svg">
        </div>
    </div>

    <div class="flow">
        <div class="flowcontainer">
            <h1 class="flowheader">DEATRIS HAYATIN AKISINDAN KAR ETMENI SAGLAYAN BIR</h1>
            <h1 class="flowheader flowaccent">SOCIAL-FI</h1>
            <h1 class="flowheader">UYGULAMASI</h1>
        </div>
    </div>

    <div class="people">
        <div class="peoplediv">
            <img src="/img/people.png" class="peoplevector">
        </div>
        <div class="peopleheaderdiv">
            <h1 class="peopleheader">SOSYALLESIRKEN</h1>
            <h1 class="peopleheader peopleheaderaccent">KRIPTO PARA KAZAN</h1>
            <h1 class="peopleheader">HESABA YENI BIR ORTAK KAT!</h1>
        </div>
    </div>

    <div class="city">
        <div class="citycontainer">
            <h1 class="citysubheader">DEATRIS ILE</h1>
            <h1 class="cityheader">SEHRINI DILEDIGIN GIBI KESFET</h1>
            <h1 class="cityheader cityheaderaccent">INTERNETIN YENI CAGINA ADIM AT</h1>
            <button type="button" value="Beta'ya katil" class="joinbeta">BETA’YA KATIL</button>
        </div>
        <div>
            <img src="/img/sun.png" class="cityvector">
        </div>
    </div>

    <div class="buildings">
        <img src="/img/city.png" class="buildingsvector">
    </div>
</body>
</html>