<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;800;900&display=swap" rel="stylesheet">
    <title>DeatrisApp</title>
</head>
<body>
    <div class="main">
        <h1 class="header">EGLENMEK ICIN KAZANMAK YERINE KAZANMAK ICIN EGLENMEYE HAZIR MISIN?</h1>
    </div>

    <div class="flow">
        <div class="flowcontainer">
            <h1 class="flowheader">DEATRIS HAYATIN AKISINDAN KAR ETMENI SAGLAYAN BIR</h1>
            <h1 class="flowheader flowaccent">SOCIAL-FI</h1>
            <h1 class="flowheader">UYGULAMASI</h1>
        </div>
    </div>

    <div class="people">
        <div>
            <img src="/img/people.png" class="peoplevector">
        </div>
        <div>
            <h1 class="peopleheader">DEATRIS ILE SOSYALLESIRKEN</h1>
            <h1 class="peopleheader peopleheaderaccent">KRIPTO PARA KAZAN</h1>
            <h1 class="peopleheader">HESABA YENI BIR ORTAK KAT!</h1>
        </div>
    </div>

    <div class="city">
        <div>
            <h1 class="cityheader">SEHRINI DILEDIGIN GIBI KESFET</h1>
            <h1 class="cityheader cityheaderaccent">INTERNETIN YENI CAGINA ADIM AT</h1>
        </div>
        <div>
            <img src="/img/sun.png" class="cityvector">
        </div>
    </div>

    <div class="buildings">
        <img src="/img/city.png" class="buildingsvector">
    </div>

    <div class="display">
        <div>
            <img src="/img/coin.png" class="coinvector">
        </div>
        <div>
            <h1 class="coinheader">DEATRIS COIN</h1>
            <h1 class="coinheader coinheaderaccent">EGLENCENIN YENI</h1>
            <h1 class="coinheader coinheaderaccent">PARA BIRIMI</h1>
        </div>
    </div>
</body>
</html>