<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800;900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/img/logo.ico">
    <title>DeatrisPanel</title>
</head>
<body>
    <div class="main">
        <div class="coinheader">
            
            <div class="card">
                <div class="notch"></div>
                <div class="logo">
                    <img src="/img/logo.png" class="logo">
                </div>
                <div class="cardTop"></div>

                <%- include('./partials/messages') %>

                <form action="/app-admin/register" method="post" class="loginForm">
                    <input type="text" id="name" name="name" placeholder="Username" required><br>
                    <input type="email" id="email" name="email" placeholder="Email" required><br>
                    <input type="password" id="password" name="password" placeholder="Password" class="inputField" required><br>
                    <input type="password" id="password2" name="password2" placeholder="Password Confirmation" class="inputField" required><br>
                    <input type="submit" value="Register" class="loginButton">
                </form>
        
                <div class="cardBottom"></div>
                
            </div>

        </div>
        <div class="deatriscoin">
            <img src="/img/deatriscoin.svg">
        </div>
    </div>
</body>
</html>