:root {

    --backgroundPrimary: #111010;
    --backgroundSecondary: #1B181E;
    --elementBackground1: #1B181E;
    --elementBackground2: #413B47;
    --cardBackground: #2B262B;
    --fontPrimary: #F3EDF9;
    --fontSecondary: #CEC2CE;

}

@keyframes unload {
    0% {
        background-position: 200%;
    }
    100% {
        background-position: center;
    }
}

body {
    animation: 1.5s ease-out 0s 1 unload;

    margin: 0;
    width: 90vw;
    height: 100vh;

	background-color: var(--backgroundPrimary);
    background-image: url('/img/background.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    color: var(--fontPrimary);
    font-family: 'Inter';
    font-size: 1.5vw;
}

@keyframes load {
    0% {
      opacity: 0;
      transform: translateX(-200%);
    }
    100% {
      opacity: 100;
      transform: translateX(0);
    }
}

.welcome {
    animation: 1s ease-out 0s 1 load;

    font-size: 1.5vw;
    font-style: italic;
}

.container {
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
}

.grid {
    padding-top: 5vh;
    display: grid;
    grid-template-columns: 35vw 45vw;
    grid-template-rows: 25vh 40vh auto;
}

.countercontainer {
    animation: 1.1s ease-out 0s 1 load;

    margin: 1.5rem;

    background-color: var(--cardBackground);
    border-radius: 2rem;
    border: none;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.counter {
    margin-right: 2vw;

    flex-basis: 50%;
    font-size: 5.8vw;
    font-weight: 900;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: center;
}

.so-far {
    margin-right: 3vw;

    color: var(--fontSecondary);
    flex-basis: 50%;
    font-size: 1.8em;
    font-style: italic;
}

.timeline {
    animation: 1.2s ease-out 0s 1 load;

    margin: 1.5rem;

    background-color: var(--cardBackground);
    border-radius: 2rem;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.timelineheader {
    color: var(--fontPrimary);
    font-weight: 700;
    font-style: italic;
}

.users {
    animation: 1s ease-out 0s 1 load;

    margin: 1.5rem;

    padding-top: 2.5vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;

    grid-column: 2;
    grid-row: 1;
    grid-row-end: 3;
    background-color: var(--cardBackground);
    border-radius: 2rem;
    border: none;

    overflow: auto;
}

.element1 {
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    margin-bottom: 1vh;

    background-color: var(--elementBackground1);
    border-radius: 1rem;
    border: none;

    font-size: .8em;
    font-weight: 700;

    display: grid;
    grid-template-columns: 30% 40% 20% 10%;
}

.element2 {
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    margin-bottom: 1vh;

    background-color: var(--elementBackground2);
    border-radius: 1rem;
    border: none;

    font-size: .8em;
    font-weight: 700;

    display: grid;
    grid-template-columns: 30% 40% 20% 10%;
}

.name {
    font-size: .8em;
}

.email {
    font-size: .8em;
}

.city {
    font-size: .8em;
}

.os {
    font-size: .8em;
}