:root {
    --backgroundPrimary: #110F0F;
    --backgroundSecondary: #DFF6E6;
    --gradientElement1: #3D3F9A;
    --gradientElement2: #A02C86;

    --fontPrimary: #EDEEEF;
    --fontSecondary: #5A5D60;
    --fontHeader: #2A2433;
    --fontAccent: #6610F5;
}

body {
    margin: 0;
	background-color: var(--backgroundSecondary);
}

h1 {
    font-family: 'Inter', sans-serif;
    color: var(--fontPrimary);
    font-size: 3.5rem;
    font-weight: 800;
}

.logo {
    animation: 1s ease-out 0s 1 load;
    width: 4rem;
}
.siteheader {
    padding-top: 3vh;
    padding-left: 5vw;
    padding-right: 5vw;

    display: flex;
	align-items: center;
    align-content: center;
	justify-content: space-between;
    background-color: var(--backgroundPrimary);
}
.joinbetaheader {
    animation: 1s ease-out 0s 1 load;
    background-color: var(--fontPrimary);
    color: var(--fontHeader);
    font-size: 1.2rem;
    font-weight: 700;
    width: 12rem;
    height: 3rem;
    border: none;
    border-radius: 2em;
    cursor: pointer;
    transition: width 0.4s ease-in-out;
}
.joinbetaheader:hover {
	background-color: var(--fontAccent);
    color: var(--fontPrimary);
}

@keyframes load {
    0% {
      opacity: 0;
      transform: translateY(200%);
    }
    100% {
      opacity: 100;
      transform: translateY(0);
    }
  }

.main {
    margin-top: -8vh;
    padding-right: 3rem;
    padding-left: 5rem;
    height: 98vh;
    background-color: var(--backgroundPrimary);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.coinheader {
    animation: 1s ease-out 0s 1 load;
    flex-basis: 70%;
}

.deatriscoin {
    animation: 1s ease-out 0s 1 load;
    flex-basis: 50%;
}

.subheader {
    font-family: 'Inter', sans-serif;
    color: var(--fontSecondary);
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
    text-align: left;
}

.header {
    font-family: 'Inter', sans-serif;
    color: var(--fontPrimary);
    font-size: 3.8rem;
    font-weight: 800;
    font-style: italic;
    text-align: left;
}

.flow {
    height: 100vh;
    background-image: url('../img/frame1.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
}

.flowcontainer {
    padding-top: 20vh;
}

.flowheader {
    margin: 0;
    width: 50vw;
    margin-left: 15vw;

    font-family: 'Inter', sans-serif;
    color: var(--fontHeader);
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
}

.flowaccent {
    color: var(--fontAccent);
    font-weight: 700;
}

.people {
    height: 100vh;
    padding-right: 5vw;
    padding-left: 5vw;
    background-image: url('../img/frame2.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.peoplediv {
    flex-basis: 45%;
}

.peoplevector {
    max-width: 30vw;
}

.peopleheaderdiv {
    flex-basis: 70%;
}

.peopleheader {
    margin: 0;
    padding-left: 10vw;
    padding-right: 5vw;

    font-family: 'Inter', sans-serif;
    color: var(--fontHeader);
    font-size: 3.2rem;
    font-weight: 700;
    text-align: right;
}

.peopleheaderaccent {
    color: var(--fontAccent);
    font-weight: 700;
}

.city {
    height: 50vh;

    display: flex;
	justify-content: space-between;
    align-content: space-around;
    align-items: center;
}

.citycontainer {
    padding-left: 5vw;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
}

.cityvector {
    width: 25rem;
}

.cityheader {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--fontHeader);
    font-size: 3.5rem;
    font-weight: 700;
    text-align: left;
}

.cityheaderaccent {
    color: var(--fontAccent);
    font-weight: 700;
    margin-bottom: 5vh;
}

.citysubheader {
    color: var(--fontSecondary);
    font-size: 1.8rem;
    font-weight: 800;
    font-style: italic;
    text-align: left;
}

.buildingsvector {
    margin-top: 5vh;
    margin-bottom: -.5vh;
    width: 100vw;
}

.joinbeta {
    background-color: var(--fontAccent);
    color: var(--fontPrimary);
    font-size: 1.2rem;
    font-style: italic;
    width: 12rem;
    height: 4rem;
    border: none;
    border-radius: 2em;
    cursor: pointer;
    transition: width 0.4s ease-in-out;
}

.joinbeta:hover {
	background-color: var(--fontHeader);
}

