:root {
    --backgroundPrimary: #110F0F;
    --backgroundSecondary: #DFF6E6;
    --gradientElement1: #3D3F9A;
    --gradientElement2: #A02C86;

    --fontPrimary: #f3f6f8;
    --fontButton: #161616;
    --fontSecondary: #5A5D60;
    --fontHeader: #e4e1e8;
    --fontAccent: #6610F5;
}

body {
    margin: 0;
	background-color: var(--backgroundPrimary);
}

h1 {
    font-family: 'Inter', sans-serif;
    color: var(--fontPrimary);
    font-size: 3.5rem;
    font-weight: 800;
}

.logo {
    animation: 1s ease-out 0s 1 load;
    width: 10rem;
}
.siteheader {
    padding-top: 3vh;
    padding-left: 5vw;
    padding-right: 5vw;

    display: flex;
	align-items: center;
    align-content: center;
	justify-content: space-between;
    background-color: var(--backgroundPrimary);
}
.joinbetaheader {
    animation: 1s ease-out 0s 1 load;
    background-color: var(--fontPrimary);
    color: var(--fontButton);
    font-size: 1vw;
    font-weight: 500;
    width: 12rem;
    height: 3rem;
    border: none;
    border-radius: 2em;
    cursor: pointer;
    transition: width 0.4s ease-in-out;
}
.joinbetaheader:hover {
	background-color: var(--fontAccent);
    color: var(--fontPrimary);
}

@keyframes load {
    0% {
      opacity: 0;
      transform: translateY(200%);
    }
    100% {
      opacity: 100;
      transform: translateY(0);
    }
  }

.main {
    margin-top: -8vh;
    padding-right: 3rem;
    padding-left: 5rem;
    height: 98vh;
    background-color: var(--backgroundPrimary);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.coinheader {
    animation: 1s ease-out 0s 1 load;
    flex-basis: 70%;
}

.deatriscoin {
    animation: 1s ease-out 0s 1 load;
    flex-basis: 50%;
}

.subheader {
    font-family: 'Inter', sans-serif;
    color: var(--fontSecondary);
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
    text-align: left;
}

.header {
    font-family: 'Inter', sans-serif;
    color: var(--fontPrimary);
    font-size: 3.8rem;
    font-weight: 800;
    font-style: italic;
    text-align: left;
}

.flow {
    height: 100vh;
    background-image: url('../img/frame1.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
}

.flowcontainer {
    padding-top: 20vh;
}

.flowheader {
    margin: 0;
    width: 50vw;
    margin-left: 15vw;

    font-family: 'Inter', sans-serif;
    color: var(--fontHeader);
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
}

.flowaccent {
    color: var(--fontAccent);
    font-weight: 700;
}

.people {
    height: 100vh;
    padding-right: 5vw;
    padding-left: 5vw;
    background-image: url('../img/frame2.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.peoplediv {
    flex-basis: 45%;
}

.peoplevector {
    max-width: 30vw;
}

.peopleheaderdiv {
    flex-basis: 70%;
}

.peopleheader {
    margin: 0;
    padding-left: 10vw;
    padding-right: 5vw;

    font-family: 'Inter', sans-serif;
    color: var(--fontHeader);
    font-size: 3.2rem;
    font-weight: 700;
    text-align: right;
}

.peopleheaderaccent {
    color: var(--fontAccent);
    font-weight: 700;
}

.city {
    height: 50vh;

    display: flex;
	justify-content: space-between;
    align-content: space-around;
    align-items: center;
}

.citycontainer {
    padding-left: 5vw;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
}

.cityvector {
    width: 25rem;
}

.cityheader {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--fontHeader);
    font-size: 3.5rem;
    font-weight: 700;
    text-align: left;
}

.cityheaderaccent {
    color: var(--fontAccent);
    font-weight: 700;
    margin-bottom: 5vh;
}

.citysubheader {
    color: var(--fontSecondary);
    font-size: 1.8rem;
    font-weight: 800;
    font-style: italic;
    text-align: left;
}

.buildingsvector {
    margin-top: 5vh;
    margin-bottom: -.5vh;
    width: 100vw;
}

.joinbeta {
    background-color: var(--fontAccent);
    color: var(--fontPrimary);
    font-size: 1.2rem;
    font-style: normal;
    width: 12rem;
    height: 4rem;
    border: none;
    border-radius: 2em;
    cursor: pointer;
    transition: width 0.4s ease-in-out;
}

.joinbeta:hover {
	background-color: var(--fontHeader);
}

@media (max-width:800px) {

    .logo {
        margin-left: 5vw;
        animation: 1s ease-out 0s 1 load;
        width: 20vw;
    }
    .siteheader {
        width: 100vw;
        padding: 0;
        padding-top: 1.5vh;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
    }
    .joinbetaheader {
        margin-right: 5vw;
        animation: 1s ease-out 0s 1 load;
        background-color: var(--fontPrimary);
        font-size: 2vw;
        font-weight: 700;
        width: 20vw;
        height: 4vh;
        border: none;
        border-radius: 2em;
        cursor: pointer;
        transition: width 0.4s ease-in-out;
    }
    .joinbetaheader:hover {
        color: var(--fontPrimary);
    }

    .main {
        padding: 0;
        margin: 0;
        margin-top: -.5vh;

        width: 100vw;
        height: 100vh;
        background-color: var(--backgroundPrimary);
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    .coinheader {
        margin: 0;
        width: 80vw;
        animation: 1s ease-out 0s 1 load;
    }
    
    .deatriscoin {
        margin-top: -20em;
        width: 100vw;
        animation: 1s ease-out 0s 1 load;
    }
    
    .subheader {
        font-family: 'Inter', sans-serif;
        color: var(--fontSecondary);
        font-size: 3vw;
        font-weight: 800;
        font-style: italic;
        text-align: center;
    }
    
    .header {
        font-family: 'Inter', sans-serif;
        color: var(--fontPrimary);
        font-size: 7vw;
        font-weight: 800;
        font-style: italic;
        text-align: center;
    }

    .flow {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .flowcontainer {
        padding-top: 15vh;
        padding-left: 0;
        width: 90vw;

        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: flex-start;

    }
    
    .flowheader {
        width: 70vw;
        margin: 0;
        font-family: 'Inter', sans-serif;
        color: var(--fontHeader);
        font-size: 8vw;
        font-weight: 700;
        text-align: left;
    }
    
    .flowaccent {
        color: var(--fontAccent);
        font-weight: 700;
    }

    .people {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }

    .peoplevector {
        max-width: 50vw;
        margin-bottom: 10vh;
    }
    
    .peopleheader {
        padding: 0;
        font-family: 'Inter', sans-serif;
        color: var(--fontHeader);
        font-size: 8vw;
        font-weight: 700;
        text-align: right;
    }
    
    .peopleheaderaccent {
        color: var(--fontAccent);
        font-weight: 700;
    }

    .city {
        height: 70vh;
        display: flex;
        flex-direction: column;
    }
    
    .citycontainer {
        width: 90vw;
        padding: 0;
        padding-top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
    }

    .cityheader {
        font-family: 'Inter', sans-serif;
        color: var(--fontHeader);
        font-size: 8vw;
        font-weight: 700;
        text-align: left;
    }
    
    .cityheaderaccent {
        color: var(--fontAccent);
        font-weight: 700;
    }
    
    .citysubheader {
        color: var(--fontSecondary);
        font-size: 4vw;
        font-weight: 800;
        font-style: italic;
        text-align: center;
    }

    .cityvector {
        margin-left: 40vw;
        margin-top: 5vh;
        width: 11rem;
    }

    .joinbeta {
        background-color: var(--fontAccent);
        color: var(--fontPrimary);
        font-size: 3vw;
        font-style: normal;
        width: 30vw;
        height: 5vh;
        border: none;
        border-radius: 3em;
        cursor: pointer;
        transition: width 0.4s ease-in-out;
    }

    .buildingsvector {
        margin-top: 1vh;
        margin-bottom: -7vh;
        width: 100vw;
    }

}